#icon1{
    background:url("../images/1.jpg");
    border: 0px;
}

#icon2{
    background: url("../images/2.jpg");
    border:0px;
}

#icon3{
    background:url("../images/map.png");
    border: 0px;
}

#icon4{
    background: url("../images/en.png");
    border:0px;
}